.h{
    align-content: center;
    justify-content: center;
    align-items: center;
   
    align-self: center;
    text-align: center;
  }

.btn{
  margin: 10px;
  font-weight: bold;
  font-size: larger;
  padding-top: 0px;
}